* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

.header {
  background-color: #79B473;
  padding: 24px;
}

.header-title {
  color: #FFEEE2;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}